# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual environments
# ==========================
.venv/
venv/
env/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/
.virtual_documents/

# ==========================
# Editors
# ==========================
.vscode/

# ==========================
# Operating systems
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Generated synthetic data
# ==========================
data/synthetic/

# ==========================
# Processed data
# ==========================
data/processed/